@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiForgeryToken
@model RG.Application.ViewModel.MaterialsManagement.Business.GatePass.GatePassChallanMasterVM
@{
    var token = antiForgeryToken.GetAndStoreTokens(Context);
    Layout = null; var sl = 1; decimal totalQuantity = 0; decimal receivedQty = 0; var tgrossWeight = 0.0;

    var claims = User.Claims.ToList();
    var initialApprovalPower = claims?.FirstOrDefault(x => x.Type.Equals(UserClaimsCC.GatePassInitialApproval, StringComparison.OrdinalIgnoreCase))?.Value;
    var markedOutPower = claims?.FirstOrDefault(x => x.Type.Equals(UserClaimsCC.GatePassMarkedOut, StringComparison.OrdinalIgnoreCase))?.Value;
    var returnableReceivePower = claims?.FirstOrDefault(x => x.Type.Equals(UserClaimsCC.GatePassReturnableReceive, StringComparison.OrdinalIgnoreCase))?.Value;
    var rejectGatePass = claims?.FirstOrDefault(x => x.Type.Equals(UserClaimsCC.GatePassReject, StringComparison.OrdinalIgnoreCase))?.Value;
    var reportTitle = "Gate Pass";
    if (@Model.ReportType == 2)
    {
        reportTitle = "Challan";
    }
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Robintex comptex">
    <meta name="generator" content="Jekyll v3.8.6">
    <title></title>


    <meta name="theme-color" content="#563d7c">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        table thead {
            text-align: center;
        }

        table {
            table-layout: fixed;
        }

        td {
            word-wrap: break-word
        }

        table.table-bordered {
            border: 1px solid #000;
            margin-top: 20px;
        }

            table.table-bordered > thead > tr > th {
                border: 1px solid #000;
            }

            table.table-bordered > tbody > tr > td {
                border: 1px solid #000;
            }

            table.table-bordered > tbody > tr > th {
                border: 1px solid #000;
            }

            table.table-bordered > tfoot > tr > th {
                border: 1px solid #000;
            }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    @*<link href="~/lib/bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/AdminLTE-3.1.0/plugins/jquery/jquery.min.js"></script>
    <script src="~/js/customScripts/GenericHTTPRequest.js"></script>
    <link href="~/lib/jquery-alert/css/alert.css" rel="stylesheet" />
    <link href="~/lib/jquery-alert/themes/default/theme.css" rel="stylesheet" />
    <!--signalR Notification-->
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/notification.js"></script>
    <!-- alert js -->
    <script src="~/lib/jquery-alert/js/alert.js"></script>

</head>
<body>

    <style type="text/css" media="print">
        .table {
            background: inherit;
        }
    </style>
    <div class="container-fluid printArea">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <span class="col-md-12" style="text-align:center;font-weight:bold;">@Model.CompanyName</span>
                    <br />
                    <span class="col-md-12" style="text-align:center;font-weight:bold;">@reportTitle</span>

                </div>
            </div>
            <br />
            <div class="row" style="font-size:12px;">
                <input type="hidden" asp-for="GatePassID" />
                <div class="col-md-12">
                    <table class="table table-striped  table-sm text-center" id="">

                        <tbody>
                            <tr>
                                <td colspan="6" style="text-align:left"><b>Issued To :</b> @Model.VendorSupplier</td>
                               
                                @if (Model.ReportType == 2)
                                {
                            <td colspan="6" style="text-align:left"><b>Challan # :</b> @Model.Serial</td>
                                }
                                else
                                {
                            <td colspan="6" style="text-align:left"><b>GP # :</b> @Model.Serial</td>
                                }                                
                            </tr>
                            <tr style="vertical-align:middle;">
                                <td colspan="6" style="text-align:left"><b>Representative :</b> @Model.CustomerName</td>                                
                                <td colspan="6" style="text-align:left"><b>Date & Time :</b> @Model.DateTimeStamp</td>  
                            </tr>
                            <tr style="vertical-align:middle;">
                                <td colspan="6" style="text-align:left"><b>Representative Contact :</b> @Model.RepresentativeContact</td>                                
                                <td colspan="6" style="text-align:left"><b>Vehicle No :</b> @Model.VehicleNo</td>
                            </tr>
                            <tr style="vertical-align:middle;">
                                <td colspan="6" style="text-align:left"><b>Category Name :</b> @Model.CategoryName</td>                                
                                <td colspan="6" style="text-align:left"><b>Job Description :</b> @Model.Description</td>
                                


                            </tr>

                            <tr>
                                <td colspan="12">
                                    <table class="table table-striped table-bordered table-sm mdReport text-center" id="">
                                        <thead>

                                            <tr>
                                                <th style="width:5%">SL</th>
                                                <th style="width:10%">Category</th>
                                                <th style="width:10%">Requisition No</th>
                                                <th style="width:25%">Item Description</th>
                                                <th style="width:10%">Issued Qty/ Weight</th>
                                                <th style="width:10%">Received Qty</th>
                                                <th style="width:10%">Unit</th>
                                                <th style="width:10%">Return Date</th>
                                                <th style="width:10%">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @foreach (var details in Model.GatePassChallanDetails)
                                            {
                                                <tr>
                                                    <td style="vertical-align:middle;">@sl</td>
                                                    <td style="vertical-align:middle;">@details.ReturnableItemCategory</td>

                                                    <td style="vertical-align:middle;">
                                                        @if (@details.ReturnableItemCategory == "Yarn")
                                                        {
                                                            //class="dx-link" var lnk=<a style="padding:0px;margin:0px;" title="Requisition Info" target="_blank" class="dx-link" href="/MaterialsManagement/GatePass/ShowRequisitionDetailReport?RequisitionID=@details.RequisitionID&ReportFormat=PDF">@details.RequisitionID</a>;
                                                            <a style="padding:0px;margin:0px;" title="Requisition Info" target="_blank"  href="/MaterialsManagement/GatePass/ShowRequisitionDetailReport?RequisitionID=@details.RequisitionID&ReportFormat=PDF">@details.RequisitionID</a>
                                                        }
                                                    </td>
                                                    <td style="vertical-align:middle;">@details.ItemName</td>
                                                    <td class="font-weight-bold text-danger" style="vertical-align:middle;">@details.QuantityOrGrossWeight.ToString($"N{details.DecimalPoint}")</td>
                                                    <td class="font-weight-bold text-danger" style="vertical-align:middle;">@((details.RecieveQuantity+ details.WastageQuantity??0).ToString($"N{details.DecimalPoint}"))</td>

                                                    <td style="vertical-align:middle;">@details.UnitName</td>
                                                    <td class="font-weight-bold text-danger" style="vertical-align:middle;">@details.ExpectedReturnDate</td>
                                                    <td style="vertical-align:middle;">@details.Remarks</td>
                                                </tr>
                                                sl++;
                                                totalQuantity += details.QuantityOrGrossWeight;
                                                receivedQty += (details.RecieveQuantity.Value + details.WastageQuantity.Value);

                                            }
                                            @*<tr>
                                                    <th colspan="2" style="vertical-align:middle;">Total :</th>

                                                    <th>@totalQuantity</th>
                                                    <th>@receivedQty</th>

                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>*@
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="row col-md-12">
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <p class="mb-1">@Model.PreparedByUser</p><hr class="m-1" /><p><b>Prepared By</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        @{
                            var approveby = Model.ApprovedBy > 0 ? Model.ApprovedUser : "Not Approved";
                        }
                        <p class="mb-1">@approveby</p><hr class="m-1" /><p><b>Approved By</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4">
                        <p class="mb-1">&nbsp;</p><hr class="m-1" /><p><b>Gate Office Stamp & Sign</b></p>
                    </div>
                    @*<div class="col-md-3 col-sm-3 col-lg-3">
                            <p>&nbsp;</p><hr /><p>Receive Sign & Name</p>
                        </div>*@

                </div>
            </div>
            <script>

            </script>
        </main>
    </div>
    <div class="row noprint no-print">
        <div class="col-6 col-md-6 col-sm-6 text-right">
            @if (initialApprovalPower == "1" && Model.IsApproved == false)
            {
                <input type="button" id="btnApprove" class="btn btn-sm btn-success" value="Approve">
            }
            @if (markedOutPower == "1" && Model.IsApproved == true && Model.isMarkedOut == false)
            {
                <input type="button" id="btnMarkedOut" class="btn btn-sm btn-warning" value="Mark Out">
            }
            @*@if (returnableReceivePower == "1" && Model.isMarkedOut != null && Model.isMarkedOut.Value)
                {
                    <input type="button" id="btnReceiveItem" class="btn btn-sm btn-success" value="Receive Item">
                }*@
            <input type="button" class="btn btn-sm btn-primary" id="btnPdf" value="Print">
            @*<input type="button" class="btn btn-sm btn-danger" value="Print" onClick="window.print()">*@
        </div>
        <div class="col-6 col-md-6 col-sm-6 text-center">
            @if (rejectGatePass == "1" && Model.IsApproved == false)
            {
                <input type="button" id="btnReject" class="btn btn-sm btn-danger text-right" value="Reject">
            }

        </div>
    </div>
    <script src="~/lib/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
    $(function () {
        $("#btnApprove").click(function () {
            debugger
            let gatePassID = $("#GatePassID").val();
            if (gatePassID > 0) {
                $.alert.open('confirm', 'Are you sure to approve this gate pass', function (button) {
                    if (button == 'yes')
                        HttpRequest.Ajax("POST", "/MaterialsManagement/GatePass/ApprovedGatePass", { gatePassId: gatePassID, '@token.HeaderName': '@token.RequestToken' }, saveSuccess)
                });
            }
        });

        $("#btnMarkedOut").click(function () {
            debugger
            let gatePassID = $("#GatePassID").val();
            if (gatePassID > 0) {
                $.alert.open('confirm', 'Are you sure to mark out this gate pass', function (button) {
                    if (button == 'yes')
                        HttpRequest.Ajax("POST", "/MaterialsManagement/GatePass/MarkOutGatePass", { gatePassId: gatePassID, '@token.HeaderName': '@token.RequestToken' }, saveSuccessMarkedOut)
                });
            }
        });
        $("#btnPdf").click(function () {
            debugger;
             let gatePassID = $("#GatePassID").val();
             let categoryID = '@Model.CategoryID';
             let reportType = '@Model.ReportType';
            let reportFormat = ("@RG.Application.Constants.ReportExportFormat.PdfFormat.ToString()");
             var url = `/MaterialsManagement/GatePass/ShowGatePassReports?GatePassID=${gatePassID}&CategoryID=${categoryID}&ReportType=${reportType}&ReportFormat=${reportFormat}`
            window.open(url, "_blank", "toolbar=no,scrollbars=yes,resizable=yes,top=150,left=50,width=1000,height=800");
        });
           $("#btnReject").click(function () {
            debugger
            let gatePassID = $("#GatePassID").val();
            if (gatePassID > 0) {
                 $.alert.open('confirm', 'Are you sure to Reject this record', function (button) {
            if (button == 'yes')
                HttpRequest.Ajax("POST", "/MaterialsManagement/GatePass/RemoveGatePass", { gatePassID: gatePassID, '@token.HeaderName': '@token.RequestToken' }, rejectSuccess)
            });
            }
        });
    })
    function saveSuccessMarkedOut(data) {
        debugger
        if (data.result == 1) {
            $.alert.open({
                type: 'Success',
                content: data.message,
                callback: function () {
                    window.location.reload();
                }
            });
        }
        else {
            $.alert.open("error", data.message);
        }
    }
    function saveSuccess (data) {
        debugger
        if (data.result == 1) {
            $.alert.open({
                type: 'Success',
                content: data.message,
                callback: function () {
                    SendNotification();
                    window.location.reload();
                }
            });
        }
        else {
            $.alert.open("error", data.message);
        }
         }
         function rejectSuccess(data) {
             debugger
             if (data.result == 1) {
                 $.alert.open({
                     type: 'Success',
                     content: data.message,
                     callback: function () {
                         //$("input[type^=button]").each(function (index) {
                         //    $(this).hide();
                         //});
                         window.close();
                     }
                 });
             }
             else {
                 $.alert.open("error", data.message);
             }
         }
    </script>
</body>
</html>

