
@{
    string mainbodyMasterBtnCssClass1 = "btn-danger";
    string mainbodyMasterBtnCssClass2 = "btn-danger";
    string pageHeaderIcon = "fa fa-industry";
    if (ViewData[PageInfo.btnClass1] != null)
    {
        mainbodyMasterBtnCssClass1 = Convert.ToString(ViewData[PageInfo.btnClass1]);
    }
    if (ViewData[PageInfo.btnClass2] != null)
    {
        mainbodyMasterBtnCssClass2 = Convert.ToString(ViewData[PageInfo.btnClass2]);
    }
    if (ViewData[PageInfo.PageHeaderFaIcon] != null)
    {
        pageHeaderIcon = ViewData[PageInfo.PageHeaderFaIcon] as string;
    }
}


<div class="content-header border-bottom p-1 m-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-md-6 col-sm-6">
                <h6 class="mt-1 mb-1 text-dark" ><i class="@pageHeaderIcon" aria-hidden="true" title="Robintex Bangladesh Industry Zone"></i> @ViewData[PageInfo.PageHeader]</h6>
            </div><!-- /.col -->
            <div class="col-6 col-md-6 col-sm-6">
                <ol class="breadcrumb float-right float-sm-right">
                    @if (ViewData[PageInfo.btnText1] != null && ViewData[PageInfo.PageLink1] != null)
                    {
                        <li class="breadcrumb-item"> <a class="btn btn-xs @mainbodyMasterBtnCssClass1" href="@ViewData[PageInfo.PageLink1]">@ViewData[PageInfo.btnText1]</a></li>
                    }
                    @if (ViewData[PageInfo.btnText2] != null && ViewData[PageInfo.PageLink2] != null)
                    {
                        <li class="breadcrumb-item"> <a class="btn btn-xs @mainbodyMasterBtnCssClass2" href="@ViewData[PageInfo.PageLink2]">@ViewData[PageInfo.btnText2]</a></li>
                    }
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>